@charset "UTF-8";
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

body {
	font-family: 'Noto Sans KR', sans-serif;
}

.font-purple-light {
	color: #b386b4 !important;
}

.font-blue {
	color: #8282cc !important;
}

.font-light-blue {
	color: #01709b !important;
}

.font-red {
	color: #e08484 !important;
}

.font-navy {
	color: navy !important;
}

.font-orange {
	color: #e39242 !important;
}

.font-white {
	color: #ffffff !important;
}

.font-gray {
	color: #dadada !important;
}

.font-light-black {
	color: #333 !important;
}

.text-center {
	text-align: center !important;
}

.display-none {
	display:none;
}

.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
	display: block;
	max-width: 100%;
	height: auto;
}

.avatar img {
	height: 100%;
}


@media (max-width: 575.98px) {
	.onShowImage .alert-dismissible .close {
		top: 50%;
		right: 1.5rem;
	}
}


.onShowImage a {
	color: #fff;
}

.card-text-footer {
	font-size: 75%;
	color: #8898aa;
	text-align: right;
}

div.mapInfo {
	padding: 30px 10px 10px 10px;
	max-width: 200px;
	font-size: 12px;
}

div.mapInfo .infoTitle {
	font-weight: bolder;
}

div.mapInfo .infoImg img {
	padding: 5px;
}

