.display-none{
	display:none;
}

td {
	text-align: center;
}

td.sizeCdTd {
	font-size: 12px;
}

th {
	text-align: center !important;
}

tr.pointer {
	cursor: pointer;
}

td > a {
	font-weight: bold;
}

div.btnDiv {
	margin-bottom : 10px;
	text-align: right;
}

div.conditionDiv {
	margin-bottom : 10px;
}

@media print {
	th, td {
		font-family: Verdana, Arial, Helvetica, sans-serif;
		font-size: 12px;
		color: #000000;
	}
	tr {
		border: 1px solid gray;
	}
	td {
		padding: 1px;
		text-align: center;
	}
	th {
		background-color: #D2E0E8;
		color: #003366;
		text-align: center;
	}
	table {
		border: 1pt solid gray;
	}
	textarea {
		font-size: 10px;
	}
}

.font-purple-light {
	color: #b386b4 !important;
}

.font-blue {
	color: #8282cc !important;
}

.font-light-blue {
	color: #01709b !important;
}

.font-red {
	color: #e08484 !important;
}

.font-navy {
	color: navy !important;
}

.font-orange {
	color: #e39242 !important;
}

.font-white {
	color: #ffffff !important;
}

.font-gray {
	color: #dadada !important;
}

input[type=file] {
	display: inline-block;
}

/* table overflow */
.fixed-table-body {
	overflow-x: auto;
}

.control-label {
	text-align: right;
}

table > thead > tr {
	background-color: #eee;
}